@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");

.bodyindex{
  background: linear-gradient(125deg,rgb(26, 0, 44),rgb(80, 69, 171),rgb(26, 0, 44));
}

.img-p h1{
    margin: 0.46em 0.5em 0.46em 0;
    color: rgb(117, 80, 228);
    font-family: 'Roboto', sans-serif;
}

.abs{
    padding: 4em 12.5em 4em 12.5em;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.img-p{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10em;
}

.bp{
    margin-top: 1em;
    display: flex;
    overflow-wrap: break-word;
}

.bp h3{
    color: #e4e4e4;
    font-family: 'Roboto', sans-serif;
}

.bp p{
    color: #a9a9a9;
    font-family: 'Roboto', sans-serif;
}


.img-i{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats h1{
    margin-bottom: 0em;
}

.block1{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 17, 177);
    padding: 0.5em 2em 0.5em 2em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Roboto', sans-serif;
}

.block2{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: rgb(255, 255, 255);
    background-color: rgb(142, 17, 177);
    padding: 0.5em 3.5em 0.5em 3.5em;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Roboto', sans-serif;
}

.block3{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 160, 37);
    padding: 0.5em 2em 0.5em 2em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Roboto', sans-serif;
}

.block4{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: rgb(255, 255, 255);
    background-color: rgb(177, 132, 17);
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 1em;
    margin-left: 1em;
    font-family: 'Roboto', sans-serif;
}

/*----------Head home----------*/
.block-shome{
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.block-shome video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.block-shome::before{
    position: absolute;
    content: "";
    height: 10%;
    width: 10%;
}

.block-homep{
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.titre-a{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4em;
    margin-top: 4em;
}

.titre-a p{
    margin: 0;
}

.block-homep button{
    margin-top: 1em;
    padding: 0.7em 2.5em 0.7em 2.5em;
    background-color: rgb(255, 167, 4);
    color: rgb(245, 245, 245);
    border-radius: 0.5em;
    border: none;
}

/*---------modification équipe----------*/
.para{
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1em;
    margin-top: 10em;
    font-family: 'Roboto', sans-serif;
}

.team{
  align-items: center;
  display: flex;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: rgba(26, 0, 44, 0.351);
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(26, 0, 44, 0.351);
  padding: 0 1.3em 0 1.3em;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.team .img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .team .img {
  transform: translateY(0) scale(1.2);
}
.team .img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.team .img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.team .img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: rgb(245, 245, 245);
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: rgb(245, 245, 245);
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 1em;
}

.icon{
    color: rgb(245, 245, 245);
    margin: 0.5em 0 1em 0;
}

.icon i{
    margin: 1em 0.5em 1em 0.5em;
}
