@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');

* {

	margin: 0;
	padding: 0;
  font-family: 'Roboto Flex', sans-serif;
}

body {
	line-height: 1.5;
  background: linear-gradient(125deg,rgb(26, 0, 44),rgb(80, 69, 171),rgb(26, 0, 44)) no-repeat;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}



.showcase {
  height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	overflow: hidden;
}

.showcase h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 70px;
  color: white;
  letter-spacing: 1px;
}

.contacterh1{
  position: relative;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}
