@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');



* {
  font-family: 'Roboto Flex', sans-serif;
}

body {
	line-height: 1.5;
  background: linear-gradient(125deg,rgb(26, 0, 44),rgb(80, 69, 171),rgb(26, 0, 44)) no-repeat;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

/* video*/
.showcase {
  height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

  font-size: 70px;
	color: #fff;
  letter-spacing: 1px;

}

.video-container {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	overflow: hidden;
}

.showcase h1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 70px;
  color: white;
  letter-spacing: 1px;
}

.contacterh1{
  position: relative;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}





/* CARDS */
.content-contact{
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-top: 70px;
}

.card-contact{
  justify-content: space-between;
  padding: 0px 30px;
  width: 100%;
}

.card-body-contact{
  background-color: rgba(26, 0, 44, 0.351);
  box-shadow:10px 10px 15px rgba(26, 0, 44, 0.351);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.card-body-contact p{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}

.round-card-contact {
  display: flex;
  justify-content: center;
}

.image-container-contact{
  background-color: rgb(213, 118, 28);
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;

}

.image-container-contact img{
  vertical-align: middle;
}


.sendcomment {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}



.form-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}

/* mail & name */
.comment-input {
  width: 145px;
  border-radius: 8px;
  padding: 5px;
  margin-right: 10px;
  border: none;
  color: whitesmoke;
  background-color: rgba(26, 0, 44, 0.351); box-shadow:10px 10px 15px rgba(26, 0, 44, 0.351);
}

/* Msg*/
.comment-area {
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  border: none;
  color: whitesmoke;
  background-color: rgba(26, 0, 44, 0.351); box-shadow:10px 10px 15px rgba(26, 0, 44, 0.351);
}


.subject-input {
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
}

/*subject*/
.subject-area {
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  height: 10px;
  border: none;
  color: whitesmoke;
  background-color: rgba(26, 0, 44, 0.351); box-shadow:10px 10px 15px rgba(26, 0, 44, 0.351);
}


.btn-gradient {
  cursor: pointer;
  color: whitesmoke;
  font-size: 15px;
  padding: 8px 24px;
  border-radius: 4px;
  font-family:'Roboto Flex', sans-serif;
  background: rgb(213, 118, 28);
  margin: 10px;
  border: none;
  margin-left: 0px;
}
