@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    height: 100%;
    background-color: rgb(49,0,88);
  }
.body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(rgb(49,0,88), rgb(49,0,88));
    font-family: 'Roboto', sans-serif;
  }

  .score1{
    display: flex;
    justify-content: center;
    padding-top: 50px;

  }

.titrescore {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
.titrescore2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
  }

#scoreréussite {
    margin: 0 0 30px;
    padding: 0;
    color:orange;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    text-shadow: 1px 0px 20px orange;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
     transition: 1s linear 0s;
     outline: 0 none;

}


#scoreréussite2 {
    margin: 0 0 30px;
    padding: 0;
    color: orange;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    text-shadow: 1px 0px 20px orange;
   -webkit-transition: 1s linear 0s;
   -moz-transition: 1s linear 0s;
   -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
    outline: 0 none;

}



#nbclicks {
    margin: 0 0 30px;
    padding: 0;
    color: orange;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-top: -20px;
    font-size: 35px;
    text-shadow: 1px 0px 20px orange;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
     transition: 1s linear 0s;
     outline: 0 none;
     font-weight: 900;



}

.classement {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 360px


}

  .reussite{
    background: linear-gradient(125deg, rgb(26,0,44),rgb(80, 69, 171),rgb(26,0,44) );
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    height: 335px;
    width: 250px;
  }


  .clicks{
    background: linear-gradient(125deg, rgb(26,0,44),rgb(80, 69, 171),rgb(26,0,44) );
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    height: 150px;
    width: 250px;
    margin-top: 10px;


  }

  .classement{
    background: linear-gradient(125deg, rgb(26,0,44),rgb(80, 69, 171),rgb(26,0,44) );
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    width: 700px;
    font-size: 25px;
    height: 500px;


  }

  .titrescore{
    margin: 0;
    padding: 0;
    font-size: 35px;
  }

  .titrescore4{
    margin: 0;
    padding: 0;
    font-size: 35px;
  }

  .tab2{

    display: flex;
    justify-content: center;
    border-color: orange;


  }

  .tab2 {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: -20px;

  }

  .tab2 td, #tab2 th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .tab2 tr:nth-child(even){background-color: rgb(173, 58, 255);}

  .tab2 tr:hover {background-color: orange;}

  .tab2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color :rgb(49,0,85);
    color: white;
    text-align: center;
    width: 135px;


  }

.scoreréussite :hover {
    color: orange;

}



/*vid*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');


a {
	text-decoration: none;
	color: var(--primary-color);
}

.showcase {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	overflow: hidden;
}
.showcase h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 70px;
  color: white;
  letter-spacing: 1px;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';

	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.contacterh1{
  position: relative;
}
