@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

#main-footer{
    background-color:rgb(5, 5, 53) ;
    padding-top: 55 px;
}

#copy{
    padding-top: 120px;
}

/* Modification icon */
i{
    color: #ffffff;
    font-size: x-large;
    border: 1px solid #ff9100;
    background-color: #ff9100;
    margin-right: 5px;
    border-radius: .35em;
    padding: 2px;
}

strong{
    color: #ff9100;
}

ul li::before{
    content: "■";
    color: #ff9100;
    margin-right: 10px;
}

.global p, li{
    color: rgb(168, 158, 167);
    font-family: 'Roboto', sans-serif;
}

.global h2{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.global ul{
    list-style: none;
    padding-left: 0;
}

.global ul li{
    margin-top: 15px;
    list-style-position:inside ;
}

.global ul li a{
    text-decoration: none;
}

.global{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}