@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.titre{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 25px;


}


  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 12%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: rgb(5, 5, 53);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    /*mettre du texte sur le clip-path*/
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }


  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color:orange;
    cursor: pointer; 
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: orange;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
  }
  #active:checked ~ .menu-btn{
    color: orange;
  }
  #active:checked ~ .menu-btn i:before{
    content: "";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    
  }
  .wrapper ul li{
    margin: 0 0 20px;
    display: inline;
    font-size: 20px;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none; /*enlever le soulignement du lien*/
    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    border-radius: 50px;
    background:orange;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    
    
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: orange;
     background: linear-gradient#14ffe9, #ffeb3b, #ff00e0;
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color : white;
    font-family: 'Roboto', sans-serif;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  